// Fonts
// _________________________
$base_font_size: 16;

// Breakpoints
// -------------------------
$mobileWidth: 768;
$largeMobileWidth: 900;
$tabletWidth: 768;
$desktopWidth: 1024;
$largeDesktopWidth: 1980;