.card {
	display: flex;
	flex-direction: column;
	&__name,
	&__gender {
		color: var(--colors-text);
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& svg {
			cursor: pointer;
			color: var(--colors-text);
		}
	}
	&__like {
		&.active {
			color: var(--colors-like-active);
		}
	}
}